<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<%= search_form_for @search do |f| %> 
  <div class="filed">
    <%= f.label :name_cont, "Search By Name"%> 
    <%= f.text_field :name_cont %>
  </div>
  <div class="action">
    <%= f.submit "Search" %>
  </div>
<% end %> 

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :name, "Name" %></th>
      <th><%= sort_link @search, :age, "Age" %> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
